<mat-sidenav-container class="side-nav-container">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>ShowsApp</mat-toolbar-row>
  </mat-toolbar>
  <div class="base-container">
    <div class="main-content">
      <div class="content-container">
        <div *ngIf="!dataReturned" class="info-container centre-content full-height">
          <mat-icon class="x-large">local_offer</mat-icon>
          <div>Getting the item ...</div>
        </div>
        <div *ngIf="errorGettingData" class="info-container centre-content full-height">
          <mat-icon class="x-large">refresh</mat-icon>
          <button mat-raised-button color="primary">RETRY</button>
        </div>
        <mat-card *ngIf="dataReturned">
          <div class="mat-card-title" *ngIf="!offerSent">
            <span class="primary-color">{{sellerItem.name}}</span> - ${{sellerItem.price}}.00
          </div>
          <div class="offer-info-container"
               [ngClass]="{'item-available': !sellerItem.accepted , 'item-not-available' : sellerItem.accepted}">
            <mat-icon style="margin-right:10px" *ngIf="!sellerItem.accepted && sellerItem.active">check_circle
            </mat-icon>
            <span *ngIf="!sellerItem.accepted && sellerItem.active">This item is still available</span>
            <mat-icon style="margin-right:10px" *ngIf="sellerItem.accepted && sellerItem.active">error</mat-icon>
            <span *ngIf="sellerItem.accepted  && sellerItem.active">This item has been sold pending pickup. Enter your email and offer to be automatically notified if the buyer falls through</span>
            <mat-icon style="margin-right:10px" *ngIf="!sellerItem.active">error</mat-icon>
            <span *ngIf="!sellerItem.active">This item is no longer available, and not accepting more offers.</span>
          </div>
          <div class="mat-card-container" *ngIf="!offerSent">
            <div class="mat-card-ref provide-space">
              <mat-form-field class="read-only">
                <textarea matInput readonly placeholder="Description" matTextareaAutosize matAutosizeMinRows="0"
                      matAutosizeMaxRows="10" [value]="sellerItem.description"></textarea>
              </mat-form-field>
              <mat-form-field class="read-only">
                <input matInput readonly [value]="sellerItem.address" placeholder="Major Intersection">
              </mat-form-field>
            </div>
            <div class="mat-card-ref offer-container left-aligned">
              <form novalidate [formGroup]="offerControl">
                <div class="spinner-offer-container">
                  <mat-form-field>
                    <input matInput placeholder="Offer" formControlName="value">
                    <span matPrefix style="margin-right:5px;">$</span>
                    <span matSuffix>.00</span>
                    <mat-error *ngIf="offerControl.get('value').hasError('required')">Offer is required</mat-error>
                  </mat-form-field>
                  <div class="spinner-container" style="margin-left:20px;">
                    <div class="spinner-text">
                      {{spinnerValue}}%
                    </div>
                    <mat-progress-spinner
                      [color]="spinnerColour"
                      mode="determinate"
                      diameter="110"
                      strokeWidth="10"
                      [value]="spinnerValue">
                    </mat-progress-spinner>
                  </div>
                </div>
                <div class="explanation-container" style="margin-bottom:10px;">
                  Your offer is expected to have {{spinnerValue}}% chance of being accepted by the seller
                </div>
                <div>
                  <mat-form-field>
                      <textarea matInput placeholder="Message Seller" matTextareaAutosize matAutosizeMinRows="1"
                                matAutosizeMaxRows="5" formControlName="message"></textarea>
                    <mat-hint>Ex: 'I can come today'</mat-hint>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="offerControl.get('email').hasError('email')">Not a valid email</mat-error>
                    <mat-error *ngIf="offerControl.get('email').hasError('required')">Offer is required</mat-error>
                  </mat-form-field>
                </div>
              </form>
              <button mat-button color="primary" [disabled]="!offerControl.valid" (click)="sendOffer()">
                {{sellerItem.accepted ? 'JOIN WAIT LIST' : 'SEND OFFER'}}
              </button>
            </div>
          </div>
          <div class="mat-card-title" *ngIf="offerSent && !needToValidateEmail">
            <span class="primary-color">Offer Sent</span>
          </div>
          <div class="mat-card-container" *ngIf="offerSent && !needToValidateEmail">
            <div class="mat-card-content">
              <div style="margin-bottom: 5px;">Please check you e-mail to see if the sellers accepts it</div>
              <div>Submit another <span class="primary-color" (click)="offerSent = !offerSent">Offer?</span></div>
            </div>
          </div>
          <div class="mat-card-title" *ngIf="offerSent && needToValidateEmail">
            <span class="primary-color">Please Validate Email</span>
          </div>
          <div class="mat-card-container" *ngIf="offerSent && needToValidateEmail">
            <div class="mat-card-content">
              <div style="margin-bottom: 5px;">Please check you e-mail to validate your e-mail address once validated
                the offer will be sent
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>





