
.icon-add:before { content: '\e800'; } /* '' */
.icon-add-outline:before { content: '\e801'; } /* '' */
.icon-add-1:before { content: '\e802'; } /* '' */
.icon-library-add:before { content: '\e803'; } /* '' */
.icon-note_add:before { content: '\e804'; } /* '' */
.icon-person-add:before { content: '\e805'; } /* '' */
.icon-add-location:before { content: '\e806'; } /* '' */
.icon-add-alert:before { content: '\e807'; } /* '' */
.icon-add-square:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-close:before { content: '\e80a'; } /* '' */
.icon-remove:before { content: '\e80b'; } /* '' */
.icon-remove-circle:before { content: '\e80c'; } /* '' */
.icon-remove-circle-ouline:before { content: '\e80d'; } /* '' */
.icon-access_time:before { content: '\e80e'; } /* '' */
.icon-delete:before { content: '\e80f'; } /* '' */
.icon-delete_forever:before { content: '\e810'; } /* '' */
.icon-delete_sweep:before { content: '\e811'; } /* '' */
.icon-highlight_off:before { content: '\e812'; } /* '' */
.icon-help-outline:before { content: '\e813'; } /* '' */
.icon-help:before { content: '\e814'; } /* '' */
.icon-info:before { content: '\e815'; } /* '' */
.icon-info_outline:before { content: '\e816'; } /* '' */
.icon-insert-chart:before { content: '\e817'; } /* '' */
.icon-insert-comment:before { content: '\e818'; } /* '' */
.icon-insert-invitation:before { content: '\e819'; } /* '' */
.icon-grid-on:before { content: '\e81a'; } /* '' */
.icon-language:before { content: '\e81b'; } /* '' */
.icon-keyboard_tab:before { content: '\e81c'; } /* '' */
.icon-keyboard_arrow_down:before { content: '\e81d'; } /* '' */
.icon-keyboard_arrow_left:before { content: '\e81e'; } /* '' */
.icon-keyboard_arrow_right:before { content: '\e81f'; } /* '' */
.icon-keyboard_arrow_up:before { content: '\e820'; } /* '' */
.icon-last_page:before { content: '\e821'; } /* '' */
.icon-event:before { content: '\e822'; } /* '' */
.icon-create_new_folder:before { content: '\e823'; } /* '' */
.icon-child-care:before { content: '\e824'; } /* '' */
.icon-child_friendly:before { content: '\e825'; } /* '' */
.icon-alarm:before { content: '\e826'; } /* '' */
.icon-alarm_add:before { content: '\e827'; } /* '' */
.icon-alarm_off:before { content: '\e828'; } /* '' */
.icon-alarm_on:before { content: '\e829'; } /* '' */
.icon-arrow_back:before { content: '\e82a'; } /* '' */
.icon-arrow_downward:before { content: '\e82b'; } /* '' */
.icon-arrow_forward:before { content: '\e82c'; } /* '' */
.icon-arrow_upward:before { content: '\e82d'; } /* '' */
.icon-arrow_drop_down:before { content: '\e82e'; } /* '' */
.icon-arrow_drop_down_circle:before { content: '\e82f'; } /* '' */
.icon-arrow_drop_up:before { content: '\e830'; } /* '' */
.icon-border_color:before { content: '\e831'; } /* '' */
.icon-build:before { content: '\e832'; } /* '' */
.icon-bluetooth:before { content: '\e833'; } /* '' */
.icon-bluetooth_audio:before { content: '\e834'; } /* '' */
.icon-bluetooth_connected:before { content: '\e835'; } /* '' */
.icon-bluetooth_disabled:before { content: '\e836'; } /* '' */
.icon-bluetooth_searching:before { content: '\e837'; } /* '' */
.icon-brush:before { content: '\e838'; } /* '' */
.icon-av_timer:before { content: '\e839'; } /* '' */
.icon-done:before { content: '\e83a'; } /* '' */
.icon-donut_large:before { content: '\e83b'; } /* '' */
.icon-donut_small:before { content: '\e83c'; } /* '' */
.icon-drafts:before { content: '\e83d'; } /* '' */
.icon-email:before { content: '\e83e'; } /* '' */
.icon-event_available:before { content: '\e83f'; } /* '' */
.icon-event_busy:before { content: '\e840'; } /* '' */
.icon-face:before { content: '\e841'; } /* '' */
.icon-favorite:before { content: '\e842'; } /* '' */
.icon-favorite_border:before { content: '\e843'; } /* '' */
.icon-file_download:before { content: '\e844'; } /* '' */
.icon-file_upload:before { content: '\e845'; } /* '' */
.icon-grid_off:before { content: '\e846'; } /* '' */
.icon-group:before { content: '\e847'; } /* '' */
.icon-group_add:before { content: '\e848'; } /* '' */
.icon-goat:before { content: '\e849'; } /* '' */
.icon-insert_emoticon:before { content: '\e84a'; } /* '' */
.icon-https:before { content: '\e84b'; } /* '' */
.icon-import_export:before { content: '\e84c'; } /* '' */
.icon-laptop:before { content: '\e84d'; } /* '' */
.icon-laptop_chromebook:before { content: '\e84e'; } /* '' */
.icon-laptop_mac:before { content: '\e84f'; } /* '' */
.icon-laptop_windows:before { content: '\e850'; } /* '' */
.icon-mail_outline:before { content: '\e851'; } /* '' */
.icon-markunread:before { content: '\e852'; } /* '' */
.icon-map:before { content: '\e853'; } /* '' */
.icon-location-city:before { content: '\e854'; } /* '' */
.icon-battery_alert:before { content: '\e855'; } /* '' */
.icon-backup:before { content: '\e856'; } /* '' */
.icon-battery_charging_full:before { content: '\e857'; } /* '' */
.icon-battery_full:before { content: '\e858'; } /* '' */
.icon-battery_std:before { content: '\e859'; } /* '' */
.icon-battery_unknown:before { content: '\e85a'; } /* '' */
.icon-edit:before { content: '\e85b'; } /* '' */
.icon-local_grocery_store:before { content: '\e85c'; } /* '' */
.icon-local_gas_station:before { content: '\e85d'; } /* '' */
.icon-person:before { content: '\e85f'; } /* '' */
.icon-person_outline:before { content: '\e860'; } /* '' */
.icon-picture_as_pdf:before { content: '\e861'; } /* '' */
.icon-public:before { content: '\e862'; } /* '' */
.icon-sd-storage:before { content: '\e863'; } /* '' */
.icon-save:before { content: '\e864'; } /* '' */
.icon-hidden:before { content: '\e865'; } /* '' */
.icon-youtube_searched_for:before { content: '\e866'; } /* '' */
.icon-zoom-in:before { content: '\e867'; } /* '' */
.icon-zoom-out:before { content: '\e868'; } /* '' */
.icon-zoom_out_map:before { content: '\e869'; } /* '' */
.icon-wifi:before { content: '\e86a'; } /* '' */
.icon-wifi_lock:before { content: '\e86b'; } /* '' */
.icon-widgets:before { content: '\e86c'; } /* '' */
.icon-visibility:before { content: '\e86d'; } /* '' */
.icon-thumb_down:before { content: '\e86e'; } /* '' */
.icon-thumb_up:before { content: '\e86f'; } /* '' */
.icon-thumbs_up_down:before { content: '\e870'; } /* '' */
.icon-transform:before { content: '\e871'; } /* '' */
.icon-people_outline:before { content: '\e872'; } /* '' */
.icon-person_pin:before { content: '\e873'; } /* '' */
.icon-person_pin_circle:before { content: '\e874'; } /* '' */
.icon-location_on:before { content: '\e875'; } /* '' */
.icon-location_off:before { content: '\e876'; } /* '' */
.icon-location_disabled:before { content: '\e877'; } /* '' */
.icon-location_searching:before { content: '\e878'; } /* '' */
.icon-lock_open:before { content: '\e879'; } /* '' */
.icon-lock_outline:before { content: '\e87a'; } /* '' */
.icon-lock:before { content: '\e87b'; } /* '' */
.icon-directions_bike:before { content: '\e87c'; } /* '' */
.icon-directions_boat:before { content: '\e87d'; } /* '' */
.icon-contact_mail:before { content: '\e87e'; } /* '' */
.icon-contact_phone:before { content: '\e87f'; } /* '' */
.icon-contacts:before { content: '\e880'; } /* '' */
.icon-cloud_download:before { content: '\e881'; } /* '' */
.icon-cloud_done:before { content: '\e882'; } /* '' */
.icon-cloud_circle:before { content: '\e883'; } /* '' */
.icon-cloud:before { content: '\e884'; } /* '' */
.icon-cloud_queue:before { content: '\e885'; } /* '' */
.icon-cloud_upload:before { content: '\e886'; } /* '' */
.icon-cloud_off:before { content: '\e887'; } /* '' */
.icon-code-1:before { content: '\e888'; } /* '' */
.icon-compare_arrows:before { content: '\e889'; } /* '' */
.icon-apps:before { content: '\e88a'; } /* '' */
.icon-airplanemode_active:before { content: '\e88b'; } /* '' */
.icon-assignment_ind:before { content: '\e88c'; } /* '' */
.icon-beach_access:before { content: '\e88d'; } /* '' */
.icon-g_translate:before { content: '\e88e'; } /* '' */
.icon-touch_app:before { content: '\e88f'; } /* '' */
.icon-toys:before { content: '\e890'; } /* '' */
.icon-volume_down:before { content: '\e891'; } /* '' */
.icon-volume_mute:before { content: '\e892'; } /* '' */
.icon-volume_off:before { content: '\e893'; } /* '' */
.icon-volume_up:before { content: '\e894'; } /* '' */
.icon-wb_sunny:before { content: '\e895'; } /* '' */
.icon-wb_incandescent:before { content: '\e896'; } /* '' */
.icon-wc:before { content: '\e897'; } /* '' */
.icon-wb_iridescent:before { content: '\e898'; } /* '' */
.icon-sentiment_dissatisfied:before { content: '\e899'; } /* '' */
.icon-sentiment_neutral:before { content: '\e89a'; } /* '' */
.icon-sentiment_satisfied:before { content: '\e89b'; } /* '' */
.icon-sentiment_very_dissatisfied:before { content: '\e89c'; } /* '' */
.icon-sentiment_very_satisfied:before { content: '\e89d'; } /* '' */
.icon-settings:before { content: '\e89e'; } /* '' */
.icon-settings_applications:before { content: '\e89f'; } /* '' */
.icon-settings_backup_restore:before { content: '\e8a0'; } /* '' */
.icon-settings_bluetooth:before { content: '\e8a1'; } /* '' */
.icon-code:before { content: '\e8a2'; } /* '' */
.icon-settings_input_antenna:before { content: '\e8a3'; } /* '' */
.icon-settings_power:before { content: '\e8a4'; } /* '' */
.icon-rotate_left:before { content: '\e8a5'; } /* '' */
.icon-rotate_right:before { content: '\e8a6'; } /* '' */
.icon-replay:before { content: '\e8a7'; } /* '' */
.icon-repeat:before { content: '\e8a8'; } /* '' */
.icon-reorder:before { content: '\e8a9'; } /* '' */
.icon-refresh:before { content: '\e8aa'; } /* '' */
.icon-power_settings_new:before { content: '\e8ab'; } /* '' */
.icon-place:before { content: '\e8ac'; } /* '' */
.icon-people:before { content: '\e8ad'; } /* '' */
.icon-directions_run:before { content: '\e8ae'; } /* '' */
.icon-equalizer:before { content: '\e8af'; } /* '' */
.icon-do_not_disturb_alt:before { content: '\e8b0'; } /* '' */
.icon-do_not_disturb:before { content: '\e8b1'; } /* '' */
.icon-do_not_disturb_on:before { content: '\e8b2'; } /* '' */
.icon-do_not_disturb_off:before { content: '\e8b3'; } /* '' */
.icon-building:before { content: '\e8b4'; } /* '' */
.icon-dialpad:before { content: '\e8b5'; } /* '' */
.icon-crop_rotate:before { content: '\e8b6'; } /* '' */
.icon-dashboard:before { content: '\e8b7'; } /* '' */
.icon-crop-square:before { content: '\e8b8'; } /* '' */
.icon-date-range:before { content: '\e8b9'; } /* '' */
.icon-data_usage:before { content: '\e8ba'; } /* '' */
.icon-dehaze:before { content: '\e8bb'; } /* '' */
.icon-control_point:before { content: '\e8bc'; } /* '' */
.icon-control-point-duplicate:before { content: '\e8bd'; } /* '' */
.icon-copyright:before { content: '\e8be'; } /* '' */
.icon-flash-off:before { content: '\e8bf'; } /* '' */
.icon-flash_on:before { content: '\e8c0'; } /* '' */
.icon-format_shapes:before { content: '\e8c1'; } /* '' */
.icon-notifications:before { content: '\e8c2'; } /* '' */
.icon-notifications-active:before { content: '\e8c3'; } /* '' */
.icon-notifications_none:before { content: '\e8c4'; } /* '' */
.icon-notifications_off:before { content: '\e8c5'; } /* '' */
.icon-notifications_paused:before { content: '\e8c6'; } /* '' */
.icon-open-with:before { content: '\e8c7'; } /* '' */
.icon-my_location:before { content: '\e8c8'; } /* '' */
.icon-settings_input_component:before { content: '\e8c9'; } /* '' */
.icon-settings_input_composite:before { content: '\e8ca'; } /* '' */
.icon-left:before { content: '\e8cb'; } /* '' */
.icon-right:before { content: '\e8cc'; } /* '' */
.icon-reply:before { content: '\e8cd'; } /* '' */
.icon-reply-all:before { content: '\e8ce'; } /* '' */
.icon-error:before { content: '\e8cf'; } /* '' */
.icon-swap_horiz:before { content: '\e8d0'; } /* '' */
.icon-sync:before { content: '\e8d1'; } /* '' */
.icon-control:before { content: '\e8d2'; } /* '' */
.icon-warning:before { content: '\e8d3'; } /* '' */
.icon-search:before { content: '\e8d4'; } /* '' */
.icon-filter:before { content: '\e8d5'; } /* '' */
.icon-filter_none:before { content: '\e8d6'; } /* '' */
.icon-filter_drama:before { content: '\e8d7'; } /* '' */
.icon-flash_auto:before { content: '\e8d8'; } /* '' */
.icon-poll:before { content: '\e8d9'; } /* '' */
.icon-pie_chart:before { content: '\e8da'; } /* '' */
.icon-pie_chart_outlined:before { content: '\e8db'; } /* '' */
.icon-pin_drop:before { content: '\e8dc'; } /* '' */
.icon-shuffle:before { content: '\e8dd'; } /* '' */
.icon-wifi_tethering:before { content: '\e8de'; } /* '' */
.icon-report:before { content: '\e8df'; } /* '' */
.icon-publish:before { content: '\e8e0'; } /* '' */
.icon-brightness_1:before { content: '\e8e1'; } /* '' */
.icon-brightness_2:before { content: '\e8e2'; } /* '' */
.icon-brightness_3:before { content: '\e8e3'; } /* '' */
.icon-brightness_4:before { content: '\e8e4'; } /* '' */
.icon-brightness_5:before { content: '\e8e5'; } /* '' */
.icon-brightness_6:before { content: '\e8e6'; } /* '' */
.icon-brightness_7:before { content: '\e8e7'; } /* '' */
.icon-brightness_high:before { content: '\e8e8'; } /* '' */
.icon-brightness_low:before { content: '\e8e9'; } /* '' */
.icon-brightness_medium:before { content: '\e8ea'; } /* '' */
.icon-brightness_auto:before { content: '\e8eb'; } /* '' */
.icon-error_outline:before { content: '\e8ec'; } /* '' */
.icon-security:before { content: '\e8ed'; } /* '' */
.icon-gavel:before { content: '\e8ee'; } /* '' */
.icon-local_bar:before { content: '\e8ef'; } /* '' */
.icon-accessibility:before { content: '\e8f0'; } /* '' */
.icon-accessible:before { content: '\e8f1'; } /* '' */
.icon-insert_link:before { content: '\e8f2'; } /* '' */
.icon-device_hub:before { content: '\e8f3'; } /* '' */
.icon-settings_input_svideo:before { content: '\e8f4'; } /* '' */
.icon-timeline:before { content: '\e8f5'; } /* '' */
.icon-local_printshop:before { content: '\e8f6'; } /* '' */
.icon-perm_contact_calendar:before { content: '\e8f7'; } /* '' */
.icon-eaton:before { content: '\ecc5'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */