@import '~@angular/material/theming';
@import "_mixins.scss";

@mixin forms-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $label-color: mat-color($foreground, secondary-text);
    $font-size: 0.75rem;


    .sa-form-label {
        color: $label-color;
        font-size: $font-size;
    }

    .sa-label-object{
        //@include flexbox();
        //label{
        //  width: 0;
        //}
        mat-form-field{
            top: -16px;
        }
        .lxi-label-object{}
    }


    button {

        &.sa-raised-btn {
            @include mat-elevation(0);

            &:hover {

                @include mat-elevation(2);
            }
            &:active {
                @include mat-elevation(4);

            }

            &[disabled] {
                @include mat-elevation(0);

            }
        }

    }

}
