@import '~@angular/material/theming';
@import './eatonPallet.scss';
@import './_mixins.scss';
/* Custom Themed Components */
@import '../../components/shared/loginPage/login.theme.scss';
@import '../../components/shared/toast/toast.theme.scss';
@import '../../components/desktop/navigation/sideBar/sideBar.theme.scss';
@import '../../components/desktop/navigation/sideNav/sideNav.theme.scss';
@import '../../components/desktop/navigation/leftNav/leftNav.theme.scss';
@import '../../components/shared/lxiComponents/lxiTable/lxiTable.theme.scss';
@import '../../components/shared/lxiComponents/lxiFloorMap/controlBar/controlBar.theme';

@include mat-core();

$app-primary: mat-palette($eaton-blue);
$app-accent: mat-palette($eaton-blue, 200);
$app-warn: mat-palette($eaton-red, A700);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

@mixin custom-components-theme($theme) {
  @include control-bar-theme($theme);
  @include left-nav-theme($theme);
  @include login-page($theme);
  @include lxi-table-theme($theme);
  @include side-bar-theme($theme, map-get($mat-dark-theme-background, background));
  @include side-nav-theme($theme, map-get($mat-dark-theme-background, background));
  @include toast-message($theme);

}

.eaton {
  @include angular-material-theme($app-theme);
  .mat-card {
    background-color: white;
  }
  @include custom-components-theme($app-theme);
  @extend .side-bar-class;
  @extend .mat-drawer-content;

}

$dark-primary: mat-palette($eaton-black, 700);
$dark-accent: mat-palette($eaton-blue, 500);
$dark-warn: mat-palette($eaton-red, A700);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);

  background-color: #333d43;

  @extend .side-bar-class;
  @extend .mat-drawer-content;


}

$red-primary: mat-palette($eaton-red, 500);
$red-accent: mat-palette($eaton-black, 500);
$red-warn: mat-palette($eaton-red, A700);
$red-theme: mat-light-theme($red-primary, $red-accent, $red-warn);

.red-theme {
  @include angular-material-theme($red-theme);
  //@include custom-components-theme($app-theme);
  @include custom-components-theme($red-theme);

  .mat-card {
    background-color: white;
  }

  @extend .side-bar-class;
  @extend .mat-drawer-content;

}

$dark-theme-red: mat-dark-theme($dark-primary, $red-primary, $dark-warn);

.dark-theme-red {
  @include angular-material-theme($dark-theme-red);
  @include custom-components-theme($dark-theme-red);

  //background-color: #333d43;

  @extend .side-bar-class;
  @extend .mat-drawer-content;

}

/*=================================
* LXI - Theme Extensions
===================================*/
.side-bar-class {

  .side-bar {
    mat-list-item {
      .mat-list-item-content {
        padding: 0 !important;
        width: 100%;
      }

      i {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        font-size: 24px !important;
      }
      span {
        @include flexbox();
        @include flex-direction(row);
        @include align-self(center);
        padding-top: 5px !important;
        font-size: 10px !important;
        height: 20px !important;
      }
    }

  }

}


.mat-drawer-content{
  overflow: hidden !important;
}



