@import '~@angular/material/theming';
@import "../../shared/styles/_mixins";

@mixin seller-item($theme) {
  $whiteColour: white;

  $themePallet: map-get($theme, primary);
  $backgroundPallet: map-get($theme, background);
  $foregroundPallet: map-get($theme, foreground);

  $themeColour: map-get($themePallet, 500);
  $backgroundColour: map-get($backgroundPallet, background);
  $foreGroundColour: map-get($foregroundPallet, base);

  mat-form-field {
    margin-bottom: 10px;
  }

  .item-container {
    //position: absolute;
    //top: 0;
    //left: 0;
    //height: 100%;
    //width: 100%;
    @include flexbox();
    @include flex-direction(column);
    padding: 20px;
    //background-color: $backgroundColour;

    .title-row {
      @include flexbox();

      .title {
        @include flex-grow(1);

      }
    }
    button {
      min-width: 80px;

      &.icon-button {
        min-width: 1px;
      }
    }

  }

  .view-item-container {

    //position: absolute;
    //top: 0;
    //left: 0;
    //height: 100%;
    //width: 100%;
    @include flexbox();
    @include flex-direction(column);
    padding: 10px;
    height: 100%;
    //background-color: $backgroundColour;

    .title-row {
      @include flexbox();

      .title {
        @include flex-grow(1);

      }
    }

    .item-content-container {
      @include flexbox();
      @include flex-direction(column);
      @include flex-grow(1);
      @include justify-content(center);
      @include align-items(center);
    }
  }
  .form-container {
    form, .seller-item-container {
      @include flexbox();
      @include flex-direction(column);

      mat-form-field {
        max-width: 400px;
      }
    }

  }
  .empty-offer-container {

    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    min-height: 200px;
  }

}



