<div class="item-container">
  <div class="title-row">
    <h2 class="title" *ngIf="!itemCreated">{{createItem ? 'Create Item' : 'Edit Item'}}</h2>
    <h2 class="title" *ngIf="itemCreated">Item Created</h2>
    <button mat-icon-button class="icon-button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="item-content-container">
    <div class="form-container" *ngIf="itemCreated" style="margin-bottom:20px;" id="itemCreatedTxt">
      <p>Please copy the text below and paste it into your ad: </p>
      <p id="createTxt">
        Want to know if the item is still available? Click here <span class="primary-color"><a href="{{itemLink}}">{{itemLink}}</a></span> and instantly get the answer. Want to know if your offer will be competitive? Try a no-commitment offer against the ShowsApp prediction engine before submitting to the seller
      </p>
    </div>
    <div class="form-container" *ngIf="!itemCreated">
      <form novalidate [formGroup]="itemFormControl">

        <mat-form-field>
          <input matInput required placeholder="1-10 words to describe the item benefit to the buyer." type="text" formControlName="name"
                 id="productName" tabindex="0"/>
          <mat-error *ngIf="itemFormControl.get('name').hasError('required')">
            Headline is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput required placeholder="Closest Intersection" type="text" formControlName="address"
                 id="addressField" tabindex="0"/>
          <mat-error *ngIf="itemFormControl.get('address').hasError('required')">
            Please provide closest intersection nearest meetup
          </mat-error>
          <mat-hint class="right-align">Nearest Meetup</mat-hint>
        </mat-form-field>
        <mat-form-field>
  <textarea matInput placeholder="Description of Item" matTextareaAutosize matAutosizeMinRows="0"
            matAutosizeMaxRows="10" formControlName="description"></textarea>
          <mat-error *ngIf="itemFormControl.get('description').hasError('required')">
            Please provide a description
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <span matPrefix>$ &nbsp;</span>
          <input matInput placeholder="Price" formControlName="price" type="string">
          <span matSuffix>.00</span>
          <mat-error *ngIf="itemFormControl.get('price').hasError('required')">
            Please provide a price
          </mat-error>
          <mat-error *ngIf="itemFormControl.get('price').hasError('number')">
            Please provide a price that is greater than 0 and less than 1000000
          </mat-error>
        </mat-form-field>
      </form>
    </div>

  </div>
  <button *ngIf="!itemCreated" mat-button [disabled]="!itemFormControl.valid" color="primary"
          (click)="processItemAction()" style="width: 120px">{{createItem ?
    'ADD ITEM' : 'SAVE'}}
  </button>
  <button *ngIf="itemCreated" mat-button color="primary"
          (click)="close()" style="width: 120px;">CLOSE
  </button>
</div>






