@import '~@angular/material/theming';
@import "../../../../shared/styles/_mixins.scss";

@mixin popover-theme($theme, $footerBackgroundColour) {

  $whiteColour: white;
  $primaryPallet: map-get($theme, primary);
  $primaryColour: map-get($primaryPallet, 500);

  .primary-btn {
    background-color: $primaryColour;
    color: $whiteColour;
    text-align: center !important;
    margin-left: 15px;
    height: 40px;
  }

}
