<div class="content-container">
  <div class="title-row">
    <h2 class="title">Posted Items</h2>
    <button mat-button color="primary" (click)="addItem()">
      <mat-icon>add</mat-icon>
      ADD ITEM
    </button>
  </div>

  <div class="main-container">
    <div *ngIf="!dataReturned" class="info-container">
      <mat-icon class="x-large">local_offer</mat-icon>
      <div>Getting your items</div>
    </div>
    <div class="item-list" *ngIf="dataReturned && sellersItems && sellersItems.length > 0">
      <mat-card class="mat-card-ref" *ngFor="let item of sellersItems; let i = index">
        <mat-card-title class="card-title-row">
          <div class="card-title"><span>{{item.name}}</span> - ${{item.price}} <mat-icon class="primary-color" *ngIf="item.offerAccepted">checked</mat-icon></div>
          <button mat-icon-button color="primary" class="icon-button" (click)="openConfirmationModal(item['id'], i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle>
          Yes! It is available. Free 48 hour money back guarantee when you make your offer through
          <a href="{{domain}}/item/{{item.url}}" target="_blank"><span class="accent-color">{{domain}}/item/{{item.url}}</span></a>
        </mat-card-subtitle>
        <mat-card-content>
          <!--<div class="embed-link"><span class="primary-color" id="item-{{item.id}}">www.showsapp.com/{{item.url}}</span>-->
            <!--&lt;!&ndash;<button mat-icon-button (click)="clipBoardCopied(item.id)">&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-icon>content_copy</mat-icon>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
          <!--</div>-->
          <div>{{item.description}}</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="navigateTo(item.id)">VIEW OFFERS ({{item.offers.length}})</button>
          <!--<button mat-button color="primary">EDIT ITEM</button>-->
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="dataReturned && sellersItems && sellersItems.length === 0" class="info-container">
      <mat-icon class="x-large" (click)="addItem()" color="primary" style="margin-bottom: 20px;">add_circle</mat-icon>
      <span>Please add an item to continue</span>
    </div>
    <div *ngIf="errorGettingData" class="info-container">
      <mat-icon class="x-large">refresh</mat-icon>
      <button mat-raised-button color="primary">RETRY</button>
    </div>
  </div>
</div>







