[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]



[packages]

django = "==2.0.2"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-auth = {extras = ["with_social"]}
"psycopg2" = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"
"psycopg2-binary" = "*"
djangorestframework-jwt = "*"
bcrypt = "*"
coreapi = "*"
django-import-export = "*"
stripe = "*"
django-cors-headers = "*"
gunicorn = "*"
python-dateutil = "*"
pillow = "*"
boto = "*"
